#footer {
    margin-top: 100px;
    background: rgba(89, 86, 232, 0.10);
}

.footer-content {
    padding: 100px 0px 90px;
    display: flex;
    justify-content: space-around;
}

.footer-box1 {
    width: 300px;
    margin-right: 45px;
}

.footer-box1 img {
    width: 96px;
}

.footer-box1 p {
    margin: 15px 0px 20px;
    font-size: 19px;
    font-weight: 500;
    line-height: 28px;
    color: #5d5d5d;
}

.footer-icon ul {
    display: flex;
}

.footer-icon ul li a {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 45px;
}

.icon-f {
    color: #337fff;
}

.icon-t {
    color: #33ccff;
}

.icon-i {
    color: linear-gradient(20deg, rgba(251,225,138,1) 0%, rgba(252,177,73,1) 20%, rgba(245,80,118,1) 40%, rgba(213,54,146,1) 60%, rgba(140,58,208,1) 80%, rgba(91,79,233,1) 100%);
    ;
}

.footer-box2 {
    margin: 0px 45px;
    width: 95px;
}

.footer-box2 h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #181818;
}

.footer-box2 ul li {
    margin: 16px 0px;
}

.footer-box2 ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    color: #5d5d5d;
}

.footer-box3 {
    margin: 0px 45px;
    width: 113px;
}

.footer-box3 h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #181818;
}

.footer-box3 ul li {
    margin: 16px 0px;
}

.footer-box3 ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    color: #5d5d5d;
}

.footer-box4 {
    margin: 0px 45px;
    width: 136px;
}

.footer-box4 h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #181818;
}

.footer-box4 ul li {
    margin: 16px 0px;
}

.footer-box4 ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    color: #5d5d5d;
}

.footer-box5 {
    margin: 0px 45px;
    width: 157px;
}

.footer-box5 h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #181818;
}

.footer-box5 ul li {
    margin: 16px 0px;
}

.footer-box5 ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    color: #5d5d5d;
}